.hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 50;
  opacity: 0.5;
}

.hero {
  position: relative;
  padding: 56px 0 0 0;
}
